<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
</head>

<body>
    <div class="container">
        <section class="one1"> 
            <header id="navbar">
                <% if (login) { %>                                   
                    <a href="#" class="logo">Bienvenido a TRICAR <strong><%= name %></strong></a>
                    <ul>
                        <li><a href="logout">Cerrar Sesion</a></li>           
                    </ul>
                <% } %>
                
                
            </header>
                <div class="content">
                    <a href="seleccionRuta" class="boton">Ver rutas disponibles</a> 
                </div>
                <div class="content2">
                    <a href="#" class="boton2">Crear nueva ruta</a>
                </div>
                <div class="textico">
                    <h2>¿Preparado para tu siguiente viaje?</h2>
                    </div>
                </div>
        </section>
        </div>