<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="container">
        <section class="one1"> 
            <header id="navbar">
                <a href="#" class="logo">TRICAR</a>
                <ul>
                    <li><a href="#bottom">Cerrar Sesion</a></li>           
                </ul>
            </header>
            <div class="content">
                <div class="bannerText">
                    <a class="boton">Ver rutas disponibles</a> 
                </div>
            </div>
        </section>
        </div>