*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

::-webkit-scrollbar{ /*Editar la barra de scroll*/
    width: 7px;
    background: #000000;
}
::-webkit-scrollbar-thumb{
    background: #414141;
    border-radius: 10px;
    border-right: 2px solido #021b79;
}
 
section{ /*Config general */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    scroll-snap-align: start;
}

.container{ /*Config general del scroll */
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
    
}
.one { /*Fondo config*/
    background:
           /* top, transparent black, faked with gradient */ 
           linear-gradient(
             rgba(0, 0, 0, 0.7), 
             rgba(0, 0, 0, 0.7)
           ),
           /* bottom, image */
           url(./img/buca.jpg);
    background-size: 100%;    
}

.one{ /*Config del inicio */
    position: relative;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}



.one header{ /*Config de la barra de arriba */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}
.one header .logo{ /*Config del logo a la izquierda*/
    font-weight: 700;
    color: #fff;
    font-size: 1.8em;
    text-decoration: none;
}
.one header ul /*Config de las medidas de la barra*/
{
    position: relative;
    display: flex;
}
.one header ul li
{
    list-style: none;
    margin: 0 20px;
}
.one header ul li a /*Config de los botones de la izquierda*/
{
    position: relative;
    text-decoration: none;
    font-size: 18px;
    padding: 4px 10px;
    color: #fff;
}
.one header ul li a:hover /*Al pasarle el click encima a los botones*/
{
    background:#fff;
    color: #111;

}
.one .content{ /* Config del contenido de Florida/Buca/piede/giron */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.one .content .bannerText
{
    position: relative;
    max-width: 700px;
}
.one .content .bannerText div
{
    display: none;
    transition: 0.5s ease-in-out;
}
.one .content .bannerText div.active
{
    display: initial;
}
.one .content .bannerText div h2
{
    color: #fff;
    font-size: 6em;
    line-height: 1em;
    font-weight: 700;
}
.one .content .bannerText div p
{
   color: #fff;
   font-size: 18px;
   margin: 20px 0; 
}




.two{/*Sección ¿Quienes somos?*/
        background:
               /* top, transparent black, faked with gradient */ 
               linear-gradient(
                 rgba(0, 0, 0, 0.84), 
                 rgba(0, 0, 0, 0.84)
               ),
               /* bottom, image */
               url(./img/grupoCarros.jpg);
        background-size: 100%;
        position: relative;
        padding: 0 100px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-height: 100vh;  
}
.two .content .bannerText h2
{
    color: #fff;
    font-size: 6em;
    line-height: 1em;
    font-weight: 700;
}
.two .content .bannerText p
{
   color: #fff;
   font-size: 18px;
   margin: 20px 0; 
}